* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    background-color: #1b1338;
}


header{
    background-color: #1b1338;
    position: fixed;
    width: 100%;
    height: 70px;
    transition: box-shadow 0.5s;
    z-index: 2;
}

header .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header.scrolled{
    border-bottom: solid black;
    box-shadow: 2px 2px 5px black;
}

#logo a{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

#mobile-menu i{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

#navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "Space Mono", monospace;
    margin-left: 15px;
}

#navbar a:hover{
    color: #583db9;
}


/* INTRODUCTION SECTION */

#introduction-section{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}

#introduction-section #container{
 
}


#introduction-section h1{
    font-size: 60px;
    color: #ffffff;
}

#animate-text{
    width: 100%;
    align-items: center;
    margin-top: 8px;
}

#animate-text p{
    font-size: 40px;
    color: transparent;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-position: 100px;
    -webkit-text-stroke: .7px var(#ffffff);
    background-clip: text;
    animation: changeColor 5s linear infinite;
}

@keyframes changeColor{
    0%, 10%, 100%{
        background-position: -70rem 0;
    }

    65%, 85%{
        background-position: 0 0;
    }
}

#contact-btn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-btn button{
    cursor: pointer;
    height: 40px;
    width: 160px;
    background-color: #583db9;
    color: #ffffff;
    font-size: 20px;
    border-radius: 2px;
}

#contact-btn button:hover{
    box-shadow: 2px 2px 5px black;
}


#social-media{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-media div{
    border-radius: 0;
    padding: 4.5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#social-media a{
    color: #ffffff;
    font-size: 30px;
}
   
#social-media div:hover{
       background-color: #583db9;
       box-shadow: 2px 2px 5px black;
}



/* BREAKPOINTS */
